<div class="panel backColorPanel">
  <h2>Background Color</h2>
  <div class="container" >
    <div ng-click="setBackColor('backColor1')" class="backColor" id="backColor1">
    </div>
    <div ng-click="setBackColor('backColor2')" class="backColor" id="backColor2">
    </div>
    <div ng-click="setBackColor('backColor3')" class="backColor circle" id="backColor3">
    </div>
  </div>
  <div class="container">
    <div ng-click="setBackColor('backColor4')" class="backColor" id="backColor4">
    </div>
    <div ng-click="setBackColor('backColor5')" class="backColor" id="backColor5">
    </div>
    <div ng-click="setBackColor('backColor6')" class="backColor" id="backColor6">
    </div>
  </div>
</div>

<div class="panel fontColorPanel">
  <h2>Font Color</h2>
  <div class="container">
    <div ng-click="setFontColor('fontColor1')" class="fontColor" id="fontColor1">
      Red
    </div>
    <div ng-click="setFontColor('fontColor2')" class="fontColor" id="fontColor2">
      Blue
    </div>
    <div ng-click="setFontColor('fontColor3')" class="fontColor" id="fontColor3">
      White
    </div>
  </div>
  <div class="container">
    <div ng-click="setFontColor('fontColor4')" class="fontColor" id="fontColor4">
      Green
    </div>
    <div ng-click="setFontColor('fontColor5')" class="fontColor" id="fontColor5">
      Orange
    </div>
    <div ng-click="setFontColor('fontColor6')" class="fontColor" id="fontColor6">
      Black
    </div>
  </div>
</div>

<div class="panel center">
  <a href="/#/show" ng-click="saveChanges()">Save Changes</a>
</div>
<div class="panel" ng-show="authData" ng-style="{'background-color': design.backColor, 'color': design.fontColor}">
  <div class="display-profile">
    <img ng-src="{{authData.github.cachedUserProfile.avatar_url}}" alt="" />
    <p>{{authData.github.displayName}}</p>
  </div>
  <div class="display-info">
    <h2 class="red" ng-show="authData.github.cachedUserProfile.hireable"><a href="{{authData.github.cachedUserProfile.html_url}}">For Hire</a></h2>
    <h2 ng-hide="authData.github.cachedUserProfile.hireable"><a href="{{authData.github.cachedUserProfile.html_url}}">GitHub</a></h2>
    <p>{{authData.github.cachedUserProfile.company}}</p>
    <p>{{authData.github.cachedUserProfile.location}}</p>
    <p>Followers: <a href="" ng-click="falseOut('showFollower', view.showFollower);view.showFollower = !view.showFollower">{{authData.github.cachedUserProfile.followers}}</a></p>
    <p><a href="" ng-click="falseOut('showCommits', view.showCommits); view.showCommits = !view.showCommits; getReposCommits()">Commit History</a></p>
    <p ng-show="history.length > 0 ">Past 7 Days: {{history.length}} Events</p>
    <p ng-hide="history.length > 0 ">Past 7 Days: 0 Events</p>
  </div>
  <div class="display-data">
    <a href="" ng-show="repos.length <= 100" ng-click="falseOut('showRepos', view.showRepos); view.showRepos = !view.showRepos">{{repos.length}} Repos Created</a>
    <a href="" ng-show="repos.length > 100" ng-click="falseOut('showRepos', view.showRepos); showRepos = !showRepos">100+ Repos Created</a>
    <p>|</p>
    <a href="" ng-click="falseOut('showEvents', view.showEvents); view.showEvents = !view.showEvents">{{events.length}} Events Since {{events[events.length - 1].created_at | date}}</a>
  </div>
</div>
