<button ng-show="GitHub.authData" ng-click="logoutGitHub()">Logout</button>
<a href="/#/show"><button>All Cards</button></a>
<div class="panel" ng-hide="authData">
  <button ng-click="loginGitHub()">Login</button>
</div>
<div class="panel" ng-show="authData">
  <div class="display-profile">
    <img ng-src="{{authData.github.cachedUserProfile.avatar_url}}" alt="" />
    <p>{{authData.github.displayName}}</p>
  </div>
  <div class="display-info">
    <h2 class="red" ng-show="authData.github.cachedUserProfile.hireable"><a href="{{authData.github.cachedUserProfile.html_url}}">For Hire</a></h2>
    <h2 ng-hide="authData.github.cachedUserProfile.hireable"><a href="{{authData.github.cachedUserProfile.html_url}}">GitHub</a></h2>
    <p>{{authData.github.cachedUserProfile.company}}</p>
    <p>{{authData.github.cachedUserProfile.location}}</p>
    <p>Followers: <a href="" ng-click="falseOut('showFollower', view.showFollower);view.showFollower = !view.showFollower">{{authData.github.cachedUserProfile.followers}}</a></p>
    <p><a href="" ng-click="falseOut('showCommits', view.showCommits); view.showCommits = !view.showCommits; getCommits()">Commit History</a></p>
    <p ng-show="history.length > 0 ">Past 7 Days: {{history.length}} Events</p>
    <p ng-hide="history.length > 0 ">Past 7 Days: 0 Events</p>
  </div>
  <div class="display-data">
    <a href="" ng-show="repos.length <= 100" ng-click="falseOut('showRepos', view.showRepos); view.showRepos = !view.showRepos">{{repos.length}} Repos Created</a>
    <a href="" ng-show="repos.length > 100" ng-click="falseOut('showRepos', view.showRepos); showRepos = !showRepos">100+ Repos Created</a>
    <p>|</p>
    <a href="" ng-click="falseOut('showEvents', view.showEvents); view.showEvents = !view.showEvents">{{events.length}} Events Since {{events[events.length - 1].created_at | date}}</a>
  </div>
</div>
<div class="panel" ng-show="view.showRepos" ng-show="authData">
  <h4>Repros Created</h4>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="repo in repos"><a href="{{repo.url}}">{{repo.full_name}}</a></li>
  </ul>
</div>
<div class="panel" ng-show="view.showEvents" ng-show="authData">
  <h4>Events Created</h4>
  <ul class="list-group" ng-repeat="event in events">
    <li class="list-group-item">{{event.type}}</li>
    <li class="list-group-item">{{event.created_at | date}}</li>
  </ul>
</div>
<div class="panel nopad" ng-show="view.showCommits" ng-show="authData">
  <h4><a href="">Commit History</a></h4>
  <div>
    <h4>{{commits}}</h4>
  </div>
  <div class="panel nopad">
    <div id="chart">
    </div>
  </div>
</div>
<div class="panel padding" ng-show="view.showFollower" ng-show="authData">
  <h4>{{authData.github.displayName}} Followers</h4>
    <div ng-repeat="follow in followers">
      <div class="display-profile">
        <img ng-src="{{follow.avatar_url}}" alt="" />
        <p>{{follow.login}}</p>
      </div>
      <div class="display-info">
        <a href="" ng-hide="followInfo[follow.id]" ng-click="getFollowerInfo(follow.url, follow.id)">More info</a>
        <div ng-show="followInfo[follow.id]">
          <h2 class="red" ng-show="followInfo[follow.id].hireable"><a href="{{followInfo[follow.id].html_url}}">For Hire</a></h2>
          <h2 ng-hide="followInfo[follow.id].hireable"><a href="{{followInfo[follow.id].html_url}}">GitHub</a></h2>
          <p>{{followInfo[follow.id].company}}</p>
          <p>{{followInfo[follow.id].location}}</p>
          <p>Followers: {{followInfo[follow.id].followers}}</p>
          <p>Following: {{followInfo[follow.id].following}}</p>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="javascripts/chart.js"></script>
