
<a href="/#/"><button>Profile</button></a>
<button ng-click="addShow()">Add to Show</button>
<button ng-click="update()">Update to Show</button>
<h4 ng-repeat="err in error">{{err}}</h4>
<div class="panel" ng-repeat="data in githubCards">
  <div class="card" ng-style="{'background-color': data.design.backColor, 'color': data.design.fontColor}">
    <div class="display-profile">
      <img ng-src="{{data.authData.github.cachedUserProfile.avatar_url}}" alt="" />
      <p>{{data.authData.github.displayName}}</p>
    </div>
    <div class="display-info">
      <h2 class="red" ng-show="data.authData.github.cachedUserProfile.hireable"><a ng-class="data.design.aColor" href="{{data.authData.github.cachedUserProfile.html_url}}">For Hire</a></h2>
      <h2 ng-hide="data.authData.github.cachedUserProfile.hireable"><a ng-class="data.design.aColor" href="{{data.authData.github.cachedUserProfile.html_url}}">GitHub</a></h2>
      <p>{{data.authData.github.cachedUserProfile.company}}</p>
      <p>{{data.authData.github.cachedUserProfile.location}}</p>
      <p>Followers: {{data.authData.github.cachedUserProfile.followers}}</p>
      <p ng-show="history.length > 0 ">Past 7 Days: {{data.history.length}} Events</p>
      <p ng-hide="history.length > 0 ">Past 7 Days: 0 Events</p>
      <a href="/#/show/{{data.authData.github.id}}" ng-class="data.design.aColor">Show More</a>
    </div>
    <div class="display-data">
      <p ng-show="data.repos.length <= 100">{{data.repos.length}} Repos Created</p>
      <p ng-show="data.repos.length > 100">100+ Repos Created</p>
      <p>|</p>
      <p>{{data.events.length}} Events Since {{data.events[data.events.length - 1].created_at | date}}</p>
    </div>
    <script type="text/javascript" charset="utf-8" src="javascripts/chart.js"></script>
  </div>
</div>
