*, *:before, *:after {
  box-sizing: border-box; }

img {
  margin-bottom: 10px;
  height: 150px; }

button {
  width: 100%; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1 {
  text-align: center; }

h4 {
  text-align: center; }

h2 {
  text-align: center; }

.panel {
  width: 400px;
  margin: 40px auto;
  border: solid 1px black;
  padding: 20px; }

.display-profile {
  width: 150px;
  display: inline-block;
  text-align: center; }

.display-info {
  width: 180px;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top; }
  .display-info h2 {
    margin-top: 0; }

.display-data p {
  display: inline; }

.padding {
  padding: 20px; }

.nopad {
  padding: 0; }

.card {
  padding: 10px;
  border: 1px solid black; }

.backColor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block; }

#backColor1 {
  background-color: red; }

#backColor2 {
  background-color: blue; }

#backColor3 {
  background-color: white; }

#backColor4 {
  background-color: green; }

#backColor5 {
  background-color: orange; }

#backColor6 {
  background-color: black; }

.fontColor, .circle, .aColor {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  line-height: 100px;
  white-space: nowrap; }

#fontColor1 {
  color: red; }

#fontColor2 {
  color: blue; }

#fontColor3 {
  color: black; }

#fontColor4 {
  color: green; }

#fontColor5 {
  color: orange; }

#fontColor6 {
  color: black; }

.container {
  width: 340px;
  margin: 0 auto; }

.center {
  text-align: center; }

.aColor1 {
  color: red; }

.aColor2 {
  color: blue; }

.aColor3 {
  color: white; }

.aColor4 {
  color: green; }

.aColor5 {
  color: orange; }

.aColor6 {
  color: black; }

.Barchart .label {
  font-size: 10px; }

.Barchart .ylabels .tick line {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
  shape-rendering: crispEdges; }

.Barchart path.domain {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
  shape-rendering: crispEdges; }

.Barchart .bars rect.bar {
  fill: #97E8A2; }
